<form>

    <div>
        <header>
            Кто хочет сдать сырье?
        </header>
        <footer>
            <select [(ngModel)]="formValues.name" name="client">
                <option *ngFor="let client of Clients">
                    {{client.name}}
                </option>
            </select>
        </footer>
    </div>

    <div *ngFor="let client of Clients">
        <div *ngIf="client.name == formValues.name">
            <header>
                Какое сырье хотят сдать?
            </header>
            <footer>
                <select [(ngModel)]="formValues.material" name="client">
                    <option *ngFor="let material of client.materials">
                        {{material}}
                    </option>
                </select>
            </footer>

            <div *ngIf="client.other != null">
                <header>
                    Доп параметры
                </header>
                <footer>
                    <select [(ngModel)]="formValues.other" name="client">
                        <option *ngFor="let oth of client.other">
                            {{oth}}
                        </option>
                    </select>
                </footer>
            </div>
        </div>
    </div>


    <button (click)="getResult()">Узнать настроение!</button>

    <div>
        <header>
            Результат
        </header>
        <div [ngSwitch]="Result.result">
            <template [ngSwitchCase]="true">Хорошее</template>
            <template [ngSwitchCase]="false">Плохое</template>
            <template ngSwitchDefault>Неизвестно</template>
        </div>
    </div>

</form>