body{
  text-align: center;
}

form{
  padding: 10px;
  font-size: 20px;
  font-family: Arial;
}

form header{
  padding: 40px 0 20px 0;

}

form footer select, button{
  width: 300px;
  font-family: Arial;
  padding: 6px 10px;
  font-size: 17px;
}

button{
  margin-top: 40px;
}

#result{
  text-decoration: underline;
}